{% extends 'base.html' %}

{% block content %}

    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content" style="min-height:80vh">

        <section class="section-pagetop bg">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i> Главная</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Восстановление пароля</li>
                    </ol>
                </nav>
            </div> <!-- container //  -->
        </section>

        <!-- ============================ COMPONENT LOGIN   ================================= -->

        <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
            <div class="card-body">
                {% include 'includes/alerts.html' %}
                <h4 class="card-title mb-4">Восстановление пароля</h4>
                <form action="{% url 'forgot_password' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email" name="email">
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Восстановить</button>
                    </div> <!-- form-group// -->
                </form>
            </div> <!-- card-body.// -->
        </div> <!-- card .// -->

        <p class="text-center mt-4">Нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a></p>
        <p class="text-center">Есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
        <!-- ============================ COMPONENT LOGIN  END.// ================================= -->

    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}