{% extends 'base.html' %}

{% block content %}

    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-conten padding-y" style="min-height:84vh">

        <section class="section-pagetop bg">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i> Главная</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Сброс пароля</li>
                    </ol>
                </nav>
            </div> <!-- container //  -->
        </section>

        <!-- ============================ COMPONENT LOGIN   ================================= -->
        <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
            <div class="card-body">
                {% include 'includes/alerts.html' %}
                <h4 class="card-title mb-4">Сброс пароля</h4>
                <form action="{% url 'reset_password' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Новый пароль" name="password">
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Подтвердите новый пароль" name="confirm_password">
                    </div> <!-- form-group// -->

                    <div class="form-group">
                        <a href="{% url 'forgot_password' %}" class="float-right">Забыли пароль?</a>

                    </div> <!-- form-group form-check .// -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Сбросить</button>
                    </div> <!-- form-group// -->
                </form>
            </div> <!-- card-body.// -->
        </div> <!-- card .// -->

        <p class="text-center mt-4">Нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a></p>
        <br><br>
        <!-- ============================ COMPONENT LOGIN  END.// ================================= -->

    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}